<% 
  criterion = Hammerstone::Refine::Inline::Criterion.new(
    stable_id: @refine_filter.to_stable_id,
    refine_filter: @refine_filter,
    client_id: @refine_client_id,
    conjunction: "and",
    position: position
  )
%>

<%= render "hammerstone/refine/inline/filters/popup",
  frame_id: dom_id(criterion),
  src: hammerstone_refine_inline_criteria_path(criterion.to_params) do
%>
  <a class=".refine--add-condition-button refine--inline-add-first-condition-btn" href="#" data-action="click->refine--popup#show">
    <span class="material-icons-outlined">add</span>
    <span><%= t(".filter") %></span>
  </a>
<% end %>
