<%# Filter Pill partial %>
<%= render "hammerstone/refine/inline/filters/popup",
  frame_id: dom_id(criterion),
  src: edit_hammerstone_refine_inline_criterion_path(criterion.position, criterion.to_params) do
%>

  <div class="filter-condition-wrapper">
    <div class="filter-condition">
      <div class="filter-value" data-action="click->refine--popup#show">
        <%= criterion.human_readable %>
      </div>
    </div>
    <%= button_to hammerstone_refine_inline_criterion_path(criterion.position, criterion.to_params), class: "filter-remove", method: :delete do %>
      <div class="material-icons">
        X
      </div>
    <% end %>
  </div>

<% end %>
