<% 
  criterion = Hammerstone::Refine::Inline::Criterion.new(
    stable_id: @refine_filter.to_stable_id,
    client_id: @refine_client_id,
  )
%>

<%= render "hammerstone/refine/inline/filters/popup",
  frame_id: dom_id(criterion, :save),
  src: new_hammerstone_refine_inline_stored_filter_path(criterion.to_params) do
%>
  <button class="refine--inline-btn" type="button" data-action="click->refine--popup#show">
    <%= t(".save_filter") %>
  </button>
<% end %>

