<div class="refine--filter-wrapper">
  <div class="refine--filter-label"><%= t('.filter') %></div>
  <div class="refine--groups-wrapper">
    <% Hammerstone::Refine::Inline::Criterion.groups_from_filter(@refine_filter, client_id: @refine_client_id, stable_id: @refine_stable_id).each.with_index do |group, i| %>
      <% unless i == 0 %>
        <div class="refine--group-join"><%= t(".or") %></div>
      <% end %>

      <%= render "hammerstone/refine/inline/filters/group", group: group %>
    <% end %>
  </div>
</div>
