<%= tag.div class: "pt-4 flex", data: {
  controller: "refine--add",
  refine__add_previous_criterion_id_value: criteria.last.position,
} do %>
  <button
    class="button-secondary text-gray-900 uppercase font-semibold text-center px-3 block"
    type="submit"
    style="transition: all .15s ease"
    data-action="click->refine--add#criterion"
  >
    <span><%= t(".add_and") %></span><i class="fal fa-plus pl-2 text-gray-500"></i>
  </button>
<% end %>
