<%= tag.div class: "refine-add-container", data: {
  controller: "refine--add",
  refine__add_previous_criterion_id_value: criteria.last.position,
} do %>
  <div
    class="refine-add-button"
    style="transition: all .15s ease"
    data-action="click->refine--add#criterion"
  >
    <span class="refine-add-button-text"><%= t(".add_and") %></span><i class="refine-add-icon fal fa-plus"></i>
  </div>
<% end %>
