<%= tag.div(class: 'flex items-center', data: {controller: 'refine--add'}) do %>

  <div
    class="cursor-pointer text-blue-600 background-transparent font-bold underline pt-4 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
    data-action="click->refine--add#group"
  >
    <% if @form.grouped_criteria.any? %>
      <%= t(".add_or") %>
    <% else %>
      <%= t(".create_filter") %>
    <% end %>
  </div>
<% end %>
