<%= tag.div(class: 'refine-add-group-container', data: {controller: 'refine--add'}) do %>

  <div
    class="refine-add-group"
    data-action="click->refine--add#group"
  >
    <% if @refine_filter_query.grouped_criteria.any? %>
      <%= t(".add_or") %>
    <% else %>
      <%= t(".create_filter") %>
    <% end %>
  </div>
<% end %>
