<%= tag.div data: {
  action: "$change->refine--update#condition",
  controller: 'fields--super-select',
  fields__super_select_enable_search_value: 'true'
} do %>
  <select
    data-fields--super-select-target="select"
    class="font-sans mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
    name="clauses"
  >
    <% meta[:clauses].each do |clause| %>
      <option
        value="<%= clause[:id] %>"
        <% if input[:clause] == clause[:id] %>selected<% end %>
      >
        <%= clause[:display] %>
      </option>
    <% end %>
  </select>
<% end %>
