<%= tag.div data: {
  action: "$change->refine--update#clause",
  controller: 'fields--super-select',
  fields__super_select_enable_search_value: 'true',
  fields__super_select_container_width_value: 'resolve'
} do %>
  <select
    data-fields--super-select-target="select"
    name="clauses"
    class="w-full sm:w-auto"
  >
    <% meta[:clauses].each do |clause| %>
      <option
        value="<%= clause[:id] %>"
        <% if input[:clause] == clause[:id] %>selected<% end %>
      >
        <%= clause[:display] %>
      </option>
    <% end %>
  </select>
<% end %>
