<%= turbo_frame_tag "group_#{group_id}" do %>
  <div class="bg-gray-50 rounded p-4 font-sans">
    <% criteria&.each_with_index do |criterion| %>
      <%= render partial: 'hammerstone/refine_blueprints/criterion', locals: {
        criterion: criterion, criterion_id: criterion[:position] } %>
    <% end %>
    <%= form_tag(hammerstone_refine_blueprint_path, method: :get, data: {
      controller: "refine--add",
      refine__add_previous_criterion_id_value: criteria.last[:position],
    }) do %>
      <button
        class="background-transparent text-blue-600 text-xs outline-none focus:outline-none"
        type="submit"
        style="transition: all .15s ease"
        data-action="click->refine--add#criterion"
      >
        <i class="far fa-plus align-middle"></i> <%= t(".buttons.add_and") %>
      </button>
    <% end %>
  </div>
<% end %>
