/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/test/dummy/public/packs
/test/dummy/public/packs-test
/test/dummy/node_modules
/test/dummy/yarn-error.log
/test/dummy/yarn-debug.log*
.yarn-integrity
/node_modules
/test/reports/*
/app/assets/javascripts
.byebug_history
/yarn-error.log
*.tgz
.idea
.idea/*
app/assets/stylesheets/index.css
*.sublime-project
*.sublime-workspace
