/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/node_modules
/test/reports/*
/app/assets/javascripts
.byebug_history
/yarn-error.log
*.tgz
.idea
.idea/*
app/assets/stylesheets/index.css
*.sublime-project
*.sublime-workspace
.DS_Store
*/.DS_Store
