<div class="refine-option--condition-container">
  <%= input_fields.collection_select :selected,
    criterion.options,
    :id,
    ->(o) {o.display.truncate(64)},
    {},
    class: "refine--select refine--option-select",
    multiple: criterion.multiple?,
    form: form_id
  %>
  <% if criterion.condition.meta[:postfix] %>
    <span class="refine-option--condition-postfix"><%= meta[:postfix] %></span>
  <% end %>
</div>
