<div class="refine-option--condition-container">
  <% criterion.options.each do |option| %>
    <label class="refine--option-label">
      <% if criterion.multiple? %>
        <%= check_box_tag input_fields.field_name("selected", multiple: true), option.id, criterion.input.selected.include?(option.id), class: "refine--option-input", form: form_id %>
      <% else %>
        <%= input_fields.radio_button :selected, option.id, class: "refine--option-input", form: form_id %>
      <% end %>
      <span class="refine--option-text"><%= option.display.truncate(64) %></span>
    </label>
  <% end %>
  <% if criterion.condition.meta[:postfix] %>
    <span class="refine-option--condition-postfix"><%= meta[:postfix] %></span>
  <% end %>
</div>
