<div class="refine-filter-inline-group">
  <% group.each do |criterion| %>
    <%= render "hammerstone/refine/filter_inline/criterion", criterion: criterion unless criterion.conjunction? %>
  <% end %>

  <%= render "hammerstone/refine/filter_inline/and_button", position: group.last.position + 1 %>
</div>
