<%= render "hammerstone/refine/filter_inline/popup_button",
  frame_id: dom_id(@refine_filter_builder, :load),
  src: hammerstone_refine_inline_stored_filters_path(@refine_filter_builder.to_params) do
%>

  <button
    class="refine-filter-inline-btn"
    data-action="refine--toggle#toggle"
    type="button"
  >
    Load Filter
  </button>

<% end %>
