
<%= tag.div id: dom_id(@refine_filter_builder, "query"),
  class: "refine-filter-inline-conditions-container",
  data: {
    controller: "refine--filter-pills refine--state turbo-visit",
    refine__state_conditions_value: @refine_filter_builder.query.available_conditions_attributes.to_json,
    refine__state_blueprint_value: @refine_filter_builder.blueprint.to_json,
    refine__state_class_name_value: @refine_filter_builder.filter_class,
    refine__state_stable_id_value: @stable_id,
    refine__state_refresh_url_value: hammerstone_refine_blueprint_path,
    refine__state_form_id_value: @refine_filter_builder.client_id,
    refine__filter_pills_submit_url_value: hammerstone_refine_blueprint_path,
    action: "filter-submit-success->turbo-visit#visit"
  } do
%>


  <% @refine_filter.human_readable_criterions.each_with_index do |condition, index| %>
    <div class="filter-condition-wrapper">
      <div class="filter-condition">
        <div class="filter-value">
          <%= condition %>
        </div>
      </div>
      <div class="filter-remove">
        <div class="material-icons">
          X
        </div>
      </div>
    </div>
  <% end %>
<% end %>
