<%
  conditions = @refine_filter_query.available_conditions_attributes
  # Note that the stimulus controllers set default condition id for new conditions
  # so this is only for rare cases where it gets unset
  selected_condition_id ||= @refine_filter_query.filter.default_condition_id
%>

<%= tag.div data: {
  action: "$change->refine--update#condition",
  controller: 'fields--super-select',
  fields__super_select_enable_search_value: 'false',
  fields__super_select_container_width_value: 'resolve',
} do %>
  <select
    data-fields--super-select-target="select"
    data-condition-id="<%= selected_condition_id %>"
    name="conditions"
    class="refine-condition-select"
  >
    <% conditions.each do |condition| %>
      <option
        value="<%= condition[:id] %>"
        <% if selected_condition_id == condition[:id] %>selected<% end %>
      ><%= condition[:display] %></option>
    <% end %>
  </select>
<% end %>
