<%= tag.div id: dom_id(@refine_filter_builder, "group_#{group_id}") do %>
  <div class="refine-group-container">
    <% criteria&.each_with_index do |criterion, index| %>
      <div class="refine-group-criterion-container">
        <%= render "refine_blueprints/criterion", criterion: criterion %>
      </div>
      <% if criteria.count > 1 && index < criteria.count - 1 %>
        <p class="refine-group-and"><%= t("refine.refine_blueprints.add_and.add_and") %></p>
      <% end %>
    <% end %>
    <%= render 'refine_blueprints/add_and', criteria: criteria %>
  </div>
<% end %>
