<%= tag.div class: "refine--date-condition-first-date-container-btwn" do %>
  <%= render "hammerstone/refine/inline/inputs/date_picker",
    input_fields: input_fields,
    attribute: :date1,
    value: criterion.input.date1,
    label: "#{criterion.condition.display.downcase} (#{t('.min')})"
  %>

  <div class="refine--date-condition-and"><%= t(".and") %></div>

  <div class="refine--date-condition-second-date-container">
    <%= render "hammerstone/refine/inline/inputs/date_picker",
      input_fields: input_fields,
      attribute: :date2,
      value: criterion.input.date2,
      label: "#{criterion.condition.display.downcase} (#{t('.max')})"
    %>
  </div>
<% end %>

