<div class="refine--date-condition-days-container">
  <%= input_fields.label :days, t(".number_of_days"), class: "sr-only" %>
  <%= input_fields.text_field :days,
    class: "refine--input",
    placeholder: criterion.condition.display.downcase,
    form: form_id
  %>
</div>
<div class="refine--date-condition-days-modifier-container">
  <%= input_fields.collection_select :modifier,
    Hammerstone::Refine::Inline::Criteria::Input::MODIFIERS,
    :first,
    :last,
    {},
    class: "refine--select",
    form: form_id
  %>
</div>
