<div class="refine-filter-condition-container">
  <%= input_fields.collection_select :selected
    criterion.options,
    :id,
    :display,
    {},
    class: "refine-filter-condition-select",
  %>
</div>
