<div class="refine-filter-condition-container">
  <%= input_fields.collection_select :selected
    criterion.options,
    :id,
    :display,
    {},
    class: "refine-filter-condition-select",
  %>
  <% if criterion.condition.meta[:postfix] %>
    <span class="refine-option-condition-postfix"><%= meta[:postfix] %></span>
  <% end %>
</div>
