<%= tag.div class: 'refine-option-condition-container' do %>
  <%= input_fields.collection_select :selected
    criterion.options,
    :id,
    :display,
    {},
    class: "refine-option-condition-select",
    multiple: criterion.multiple?
  %>
</div>
