<%= tag.div class: 'refine-option-condition-container' do %>
  <%= input_fields.collection_select :selected
    criterion.condition.meta[:options],
    :id,
    :display,
    {},
    class: "refine-option-condition-select",
    data: { fields__super_select_target: "select" }
    # TODO multiple
  %>
  <% if false #TODO replace meta[:postfix] %>
    <span class="refine-option-condition-postfix"><%= meta[:postfix] %></span>
  <% end %>
</div>


