<%= turbo_frame_tag @criterion do %>
  <div class="refine--condition-list">
    <% @conditions.each do |condition| %>
      <%= link_to condition.display, new_hammerstone_refine_inline_criterion_url(
          @criterion.to_params.deep_merge(hammerstone_refine_inline_criterion: {condition_id: condition.id})), class: "refine--condition-list-item" %>
    <% end %>
  </div>
  <div class="refine--separator"></div>
  <%= render "hammerstone/refine/inline/filters/popup",
    frame_id: dom_id(@criterion, :load),
    src: hammerstone_refine_inline_stored_filters_path(@criterion.to_params),
    frame_class: "refine--stored-filter-list-popup" do
  %>
    <%= link_to "Saved Filters", "#", class: "refine--saved-filters-link", data: {action: "click->refine--popup#show"} %>
  <% end %>
<% end %>
