<%= turbo_frame_tag @criterion do %>
  <div class="refine--condition-list">
    <% @conditions.each do |condition| %>
      <%= link_to condition.display, new_hammerstone_refine_inline_criterion_url(
          @criterion.to_params.deep_merge(hammerstone_refine_inline_criterion: {condition_id: condition.id})), class: "refine--condition-list-item" %>
    <% end %>
  </div>
  <div class="refine--separator"></div>
  <%= link_to "Saved Filters", "#", class: "refine--saved-filters-link" %>
<% end %>
