<div class="filter-condition-wrapper">
  <div class="filter-condition" data-controller="refine--toggle">
    <div class="filter-value" data-action="refine--toggle#toggle">
      <%= criterion.human_readable %>
    </div>
  </div>
</div>
