<% selected = input.has_key?(:selected) ? input[:selected] : [] %>
<% if ['st', 'nst'].include? input[:clause] %>
<!-- Render nothing -->
<% elsif %>
  <%= tag.div class: 'w-full mt-3 sm:w-auto sm:flex-shrink-0 sm:mr-3' do %>
    <%= tag.div data: {
      action: "$change->refine--update#selected",
      controller: 'fields--super-select',
      fields__super_select_enable_search_value: 'true',
      fields__super_select_container_width_value: 'resolve',
    } do %>
      <select multiple
        class="font-sans mt-1 block pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
        data-fields--super-select-target="select"
        name="values"
      >
      <% condition[:meta][:options].each do |option| %>
        <option
          value="<%= option[:id] %>"
          <% if selected.find { |id|  id == option[:id] } %>selected<% end %>
        >
          <%= option[:display] %>
        </option>
      <% end %>
      </select>
    <% end %>
  <% end %>
<% end %>
 

