.refine-button {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.refine-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.refine-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
  --tw-ring-offset-width: 2px
}

.refine-button {
  &.button-red {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity))
  }
  &.button-red:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity))
  }
  &.button-red:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(220 38 38 / var(--tw-ring-opacity))
  }
}

.refine-button-secondary {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.refine-button-secondary:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.refine-button-secondary {
  &.button-increase-contrast {
    --tw-text-opacity: 1;
    color: rgb(29 78 216 / var(--tw-text-opacity))
  }
  &.button-increase-contrast:hover {
    --tw-text-opacity: 1;
    color: rgb(30 58 138 / var(--tw-text-opacity))
  }
  &.button-red {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
  }
  &.button-red:hover {
    --tw-text-opacity: 1;
    color: rgb(220 38 38 / var(--tw-text-opacity))
  }
  &.button-red {
    &.button-increase-contrast {
      --tw-text-opacity: 1;
      color: rgb(185 28 28 / var(--tw-text-opacity))
    }
    &.button-increase-contrast:hover {
      --tw-text-opacity: 1;
      color: rgb(127 29 29 / var(--tw-text-opacity))
    }
  }
}

.refine-button, .refine-button-secondary {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  &.button-smaller {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
  }
  &.button-smaller {
    padding-left: 0.75rem;
    padding-right: 0.75rem
  }
  &.button-smaller {
    font-size: 0.75rem;
    line-height: 1rem
  }
}

/* _head.html.erb */

.refine-stored-filter-head-container {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.refine-stored-filter-header {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.refine-stored-filter-link {
  margin-left: auto;
  background-color: transparent;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  outline: 2px solid transparent;
  outline-offset: 2px
}

.refine-stored-filter-link:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

/* edit.html.erb / new.html.erb */

.refine-stored-filter-container {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.refine-stored-filter-form {
  display: flex;
  width: 100%
}

.refine-stored-filter-error {
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.refine-stored-filter-input {
  margin-right: 1rem;
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-left: 2.25rem
}

.refine-stored-filter-input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-stored-filter-input {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.refine-stored-filter-button-cancel {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.refine-stored-filter-button-cancel:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.refine-stored-filter-button-cancel {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 1rem
}

.refine-stored-filter-button-submit {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.refine-stored-filter-button-submit:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.refine-stored-filter-button-submit:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
  --tw-ring-offset-width: 2px
}

.refine-stored-filter-button-submit {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-align: center
}

/* _find.html.erb */

.refine-stored-filter-search-container {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.refine-stored-filter-search-form {
  display: flex;
  width: 100%
}

.refine-stored-filter-search-selector-container {
  margin-right: 1rem;
  width: 100%
}

.refine-stored-filter-search-button-cancel {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.refine-stored-filter-search-button-cancel:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.refine-stored-filter-search-button-cancel {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 1rem
}

.refine-stored-filter-search-button-submit {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.refine-stored-filter-search-button-submit:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.refine-stored-filter-search-button-submit:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
  --tw-ring-offset-width: 2px
}

.refine-stored-filter-search-button-submit {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  text-align: center
}

/* _filter_builder_dropdown.html.erb */

.refine-filter-builder-dropdown-container {
  position: relative;
  display: none;
  width: auto;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem
}

@media (min-width: 768px) {
  .refine-filter-builder-dropdown-container {
    display: block
  }
}

.refine-filter-builder-dropdown-search-box {
  position: absolute;
  right: 0px;
  z-index: 100;
  margin-top: 0.5rem;
  width: 100vw;
  transform-origin: top right;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  opacity: 1;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 640px) {
  .refine-filter-builder-dropdown-search-box {
    max-width: -moz-max-content;
    max-width: max-content
  }
}

.refine-filter-builder-dropdown-toggle-button {
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity))
}

.refine-filter-builder-dropdown-toggle-button:hover {
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.refine-filter-builder-dropdown-button-container {
  position: sticky;
  bottom: 0px;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.refine-filter-builder-dropdown-cancel-button {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.refine-filter-builder-dropdown-cancel-button:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.refine-filter-builder-dropdown-cancel-button {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-left: auto;
  margin-right: 1rem
}

.refine-filter-builder-dropdown-apply-button {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.refine-filter-builder-dropdown-apply-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.refine-filter-builder-dropdown-apply-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(37 99 235 / var(--tw-ring-opacity));
  --tw-ring-offset-width: 2px
}

.refine-filter-builder-dropdown-apply-button {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 1rem;
  text-align: center
}

.refine-filter-builder-dropdown-loading-container {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.postfixed {
  /* keep it because the dropdown select uses it */
}

/* _filter_condition.html.erb */

.refine-filter-condition-container {
  /* keep it because the dropdown select uses it */
  margin-top: 0.75rem;
  display: flex;
  width: 100%
}

@media (min-width: 640px) {
  .refine-filter-condition-container {
    margin-right: 0.75rem;
    width: auto;
    flex-shrink: 0
  }
}

.refine-filter-condition-select {
  margin-top: 0.25rem;
  display: block;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5rem
}

.refine-filter-condition-select:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-filter-condition-select {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.refine-filter-condition-postfix {
  flex-shrink: 0;
  border-radius: 0.375rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding: 0.5rem
}

/* _option_condition.html.erb */

.refine-option-condition-container {
  /* keep it because the dropdown select uses it */
  margin-top: 0.75rem;
  display: flex;
  width: 100%
}

@media (min-width: 640px) {
  .refine-option-condition-container {
    margin-right: 0.75rem;
    width: auto;
    flex-shrink: 0
  }
}

.refine-option-condition-select {
  margin-top: 0.25rem;
  display: block;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  line-height: 1.5rem
}

.refine-option-condition-select:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-option-condition-select {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.refine-option-condition-postfix {
  flex-shrink: 0;
  border-radius: 0.375rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding: 0.5rem
}

/* _add_and.html.erb */

.refine-add-container {
  display: flex;
  padding-top: 1rem
}

.refine-add-button {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.refine-add-button:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline
}

.refine-add-button {
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  display: block;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.refine-add-button-text {
}

.refine-add-icon {
  padding-left: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

/* _add_group.html.erb */

.refine-add-group-container {
  display: flex;
  align-items: center
}

.refine-add-group {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  background-color: transparent;
  padding-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-timing-function: linear
}

.refine-add-group:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.prefixed {
  /* keep it because the dropdown select uses it */
}

/* _clause_select.html.erb */

.refine-clause-select-prefixed {
  /* keep it because the dropdown select uses it */
  display: flex
}

.refine-clause-select-prefix {
  flex-shrink: 0;
  border-radius: 0.375rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding: 0.5rem
}

.refine-clause-select {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1
}

@media (min-width: 640px) {
  .refine-clause-select {
    width: auto
  }
}

/* _condition_select.html.erb */

.refine-condition-select {
  width: 100%
}

@media (min-width: 640px) {
  .refine-condition-select {
    width: auto
  }
}

/* _criterion_errors.html.erb */

.refine-criterion-error {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

/* _criterion.html.erb */

.refine-criterion-container {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: baseline
}

@media (min-width: 640px) {
  .refine-criterion-container {
    width: auto;
    padding-right: 3rem
  }
}

.refine-criterion-condition-container {
  width: 100%;
  padding-top: 0.75rem
}

@media (min-width: 640px) {
  .refine-criterion-condition-container {
    margin-right: 0.75rem;
    width: auto;
    flex-shrink: 0
  }
}

.refine-criterion-clause-container {
  width: 100%;
  padding-top: 0.75rem
}

@media (min-width: 640px) {
  .refine-criterion-clause-container {
    margin-right: 0.75rem;
    width: auto;
    flex-shrink: 0
  }
}

.refine-criterion-refinement-container {
  width: 100%;
  padding-top: 0.75rem
}

@media (min-width: 640px) {
  .refine-criterion-refinement-container {
    margin-right: 0.75rem;
    width: auto;
    flex-shrink: 0
  }
}

/* _delete_criterion.html.erb */

.refine-delete-container {
  margin-left: auto;
  flex: none;
  padding-top: 1.25rem
}

.refine-delete-button {
  margin-left: auto;
  display: flex;
  align-items: center
}

.refine-delete-criterion-icon {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.refine-delete-criterion-label {
  display: none;
  padding-left: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

/* _group.html.erb */

.refine-group-container {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding: 1rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.refine-group-criterion-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 0.75rem
}

.refine-group-and {
  padding-left: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

/* _query.html.erb */

.refine-query-container {
  position: relative
}

.refine-query-content-container {
  position: relative;
  height: 100%;
  width: 100%
}

.refine-query-loading-container {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.5
}

.refine-query-loading-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.refine-query-or {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

/* _date_picker.html.erb */

.refine-date-picker-container {
  position: relative
}

.refine-date-picker-input {
  width: 9rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.refine-date-picker-input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-date-picker-input {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

/* _text_condition.html.erb */

.refine-text-condition-container {
  margin-top: 0.75rem;
  margin-right: 0.75rem
}

.refine-text-condition-input {
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.refine-text-condition-input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-text-condition-input {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

/* _numeric_condition_html.erb */

.refine-numeric-condition-container {
  margin-top: 0.75rem;
  flex-grow: 0
}

.refine-numeric-condition-container-btwn {
  margin-top: 0.75rem;
  flex-grow: 0
}

@media (min-width: 640px) {
  .refine-numeric-condition-container-btwn {
    margin-right: 0.75rem
  }
}

.refine-numeric-condition-input {
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.refine-numeric-condition-input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-numeric-condition-input {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.refine-numeric-condition-and {
  margin-top: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.refine-numeric-condition-second-container {
  margin-top: 0.75rem;
  flex-grow: 0
}

@media (min-width: 640px) {
  .refine-numeric-condition-second-container {
    margin-right: 0.75rem
  }
}

.refine-numeric-condition-second-input {
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.refine-numeric-condition-second-input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-numeric-condition-second-input {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

/* _date_condition.html.erb */

.refine-date-condition-days-container {
  margin-top: 0.75rem
}

.refine-date-condition-daysª-input {
  display: block;
  width: 7rem;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.refine-date-condition-daysª-input:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-date-condition-daysª-input {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.refine-date-condition-days-text {
  margin-top: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.refine-date-condition-days-modifier-container {
  margin-top: 0.75rem;
  width: 8rem
}

@media (min-width: 640px) {
  .refine-date-condition-days-modifier-container {
    margin-right: 0.75rem
  }
}

.refine-date-condition-days-modifier-select {
  width: 100%;
  border-radius: 0.375rem;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem
}

.refine-date-condition-days-modifier-select:focus {
  --tw-border-opacity: 1;
  border-color: rgb(99 102 241 / var(--tw-border-opacity));
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .refine-date-condition-days-modifier-select {
    font-size: 0.875rem;
    line-height: 1.25rem
  }
}

.refine-date-condition-first-date-container {
  margin-top: 0.75rem;
  flex-grow: 0
}

@media (min-width: 640px) {
  .refine-date-condition-first-date-container {
    margin-right: 0.75rem
  }
}

.refine-date-condition-first-date-container-btwn {
  margin-top: 0.75rem;
  flex-grow: 0
}

.refine-date-condition-and {
  margin-top: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.refine-date-condition-second-date-container {
  margin-top: 0.75rem;
  flex-grow: 0
}

@media (min-width: 640px) {
  .refine-date-condition-second-date-container {
    margin-right: 0.75rem
  }
}