<% 
  criterion = Refine::Inline::Criterion.new(
    stable_id: @refine_filter.to_stable_id,
    client_id: @refine_client_id,
  )
%>

<%= turbo_frame_tag dom_id(criterion, :save) do %>
  <%= link_to new_refine_inline_stored_filter_path(criterion.to_params),
    class: "refine--save-filter-link", data: {turbo_stream: true} do %>
      <span class="material-icons-outlined refine--icon-sm">save</span>
      <span class="refine--save-filter-link-label"><%= t('refine.inline.filters.save_filter') %></span>
  <% end %>
<% end %>

