<% 
  criterion = Refine::Inline::Criterion.new(
    stable_id: @refine_filter.to_stable_id,
    refine_filter: @refine_filter,
    client_id: @refine_client_id,
    conjunction: "and",
    position: position
  )
%>

<% if @refine_filter.criteria_limit_reached? %>
  <button disabled class="refine--add-condition-button refine--group-last-item refine--condition-pill-end" type="button" title="<%= t(".criteria_limit", criteria_limit: @refine_filter.criteria_limit) %>">
    <% if show_label %>
      <span class="refine--add-button-label"><%= t("refine.inline.filters.and_button.condition") %></span>
    <% end %>
    <span class="icon material-icons-outlined refine--icon-sm">add</span>
  </button>
<% else %>
  <%= render "refine/advanced_inline/filters/modal",
    frame_id: dom_id(criterion),
    src: refine_advanced_inline_criteria_path(criterion.to_params) do
  %>
    <button class="refine--add-condition-button refine--group-last-item refine--condition-pill-end" type="button" data-action="click->refine--modal#open">
      <% if show_label %>
        <span class="refine--add-button-label"><%= t("refine.inline.filters.and_button.condition") %></span>
      <% end %>
      <span class="icon material-icons-outlined refine--icon-sm">add</span>
    </button>
  <% end %>
<% end %>
