<% render_stack ||= false %>

<% if render_stack %>
  <div class="refine--or-group">
<% end %>
<% group.each.with_index do |criterion, i| %>
  <%= render "refine/advanced_inline/filters/criterion", criterion: criterion, placement: i, size: group.length %>
<% end %>
<%= render "refine/advanced_inline/filters/and_button", position: group.last.position + 1, show_label: (group_count < 2 && condition_count < 2) %>
<% if render_stack %>
  </div> 
<% end %>
